@import "./var.less";
.ix-calendar{
  position: relative;
  .ix-calendar_bar{
    padding: 10px 0;
    font-size: 16px;
    border-bottom: @border;
  }
  .ix-link{
    font-size: 16px;
  }
  .ix-calendar_yyyy, .ix-calendar_MM{
    width: 100%;
    height: 100%;
    text-align: center;
    >.ix-link{
      margin: 6px 10px;
      line-height: 30px;
      width: 17%;
      display: inline-block;
      &.this{
        color: @theme;
        background: @theme-low;
        border-radius: 2px;
        border: @border;
      }
      &.range{
        background: @theme-low;
      }
    }
  }
}
