@import "./var.less";
.ix-tree{
  position: relative;
  .is-drop-inner{
    >.ix-tree-item{
      background: @theme-low;
    }
  }
  .ix-tree-item{
    display: block;
    padding: 3px 6px;
    &:hover{
      background: @theme-low;
      border-radius: 2px;
    }
    .hidden{
      visibility: hidden;
    }
  }
  .ix-icon-tree{
    font-size: 12px;
    color: #c0c4cc;
    transition: transform .3s ease-in-out;
  }
  .ix-tree-group{
    margin-left: 16px;
    overflow: hidden;
  }
  .ix-tree__drop-indicator{
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: @theme;
  }
}
